<form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
  <div class="col-12">
    <div class="form-group">
      <label for="name"> Name </label>
      <input type="text" id="name" name="name" formControlName="name" class="form-control" >
    </div>
    <div class="form-group">
      <label for="age"> Age </label>
      <input type="text" id="age" name="age" formControlName="age" class="form-control">
    </div>

    <div class="form-group" >
      <label for="gender">Gender </label>
      <input type="radio" value="male" id="gender" name="gender" formControlName="gender" > Male
      <input type="radio" value="female" id="gender" name="gender" formControlName="gender"> Female
    </div>


    <div class="form-group">
      <label for="country">country </label>
      <select id="country" name="country" formControlName="country" class="form-control">
        <option [ngValue]="c.id" [text]="c.name" *ngFor="let c of countryList">

        </option>
      </select>
    </div>
  </div>
  <div formGroupName="address">

    <div class="form-group">
      <label for="city">City</label>
      <input type="text" class="form-control" name="city" formControlName="city" id="city">
    </div>

    <div class="form-group">
      <label for="street">Street</label>
      <input type="text" class="form-control" name="street" formControlName="street" id="street">
    </div>

  </div>

  <p>
    <button type="submit">Submit</button>
  </p>

</form>
