<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body style="color: red">
<div class="col-sm-12" style="background-color:gainsboro;height: 70px"><h1 style="text-align: center;line-height: 70px  ">FORM ĐĂNG KÍ</h1></div>
<div style="margin:30px">
    <p><a href="/user" class="btn btn-primary">Danh sách User</a></p>
    <form th:action="@{/user/create}" th:object="${userDto}" method="post">
        <div class="form-group row">
            <label class="col-sm-3 col-form-label" for="firstName">First Name:</label>
            <div class="col-sm-6">
                <input type="text" th:field="*{firstName}" class="form-control" id="firstName" placeholder="First Name" required>
                <p th:errors="*{firstName}" class="text-danger"></p>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label" for="lastName">Last Name:</label>
            <div class="col-sm-6">
                <input type="text" th:field="*{lastName}"class="form-control" id="lastName" placeholder="Last Name" required>
                <p th:errors="*{lastName}" class="text-danger"></p>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-3 col-form-label" for="phonenumber">Phone Number:</label>
            <div class="col-sm-6">
                <input type="text" th:field="*{phonenumber}"class="form-control" id="phonenumber" placeholder="Phone Number" required>
                <p th:errors="*{phonenumber}" class="text-danger"></p>

            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-3 col-form-label" for="age">Age:</label>
            <div class="col-sm-6">
                <input type="text" th:field="*{age}" class="form-control" id="age" placeholder="Age" required>
                <p th:errors="*{age}" class="text-danger"></p>

            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-3 col-form-label" for="inputEmail">Email Address:</label>
            <div class="col-sm-6">
                <input type="email" th:field="*{email} "class="form-control" id="inputEmail" placeholder="Email Address" required>
                <p th:errors="*{email}" class="text-danger"></p>

            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-9 offset-sm-3">
                <input type="submit" class="btn btn-primary" value="Submit">
                <input type="reset" class="btn btn-secondary" value="Reset">
            </div>
        </div>
    </form>
</div>
</body>
</html>
