<h1>Danh sách sản phẩm</h1>
<a routerLink="/product/create">Tạo mới sản phẩm</a>
<table class="table table-striped">
  <tr>
    <th>STT</th>
    <th>Tên</th>
    <th>Giá</th>
    <th>Mô tả</th>
    <th></th>
    <th></th>
  </tr>
  <tr *ngFor="let product of products; index as i">
    <td>{{i + 1}}</td>
    <td>{{product.name}}</td>
    <td>{{product.price}}</td>
    <td>{{product.description}}</td>
    <td>
      <button type="button" class="btn btn-warning" [routerLink]="['/product/edit',product.id]">Sửa</button>
    </td>
    <td>
      <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="temp=product">
        Xoá
      </button>
    </td>
  </tr>
</table>
<app-product-delete [product]="temp"></app-product-delete>



