<h1>Danh sách danh mục sản phẩm</h1>
<a routerLink="/category/create">Tạo mới danh mục</a>
<table class="table table-striped">
  <thead>
  <tr>
    <td>STT</td>
    <td>Tên</td>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let category of categories; index as i">
    <td>{{i + 1}}</td>
    <td>{{category.name}}</td>
    <td><a  class="btn btn-warning" [routerLink]="['/category/edit',category.id]">Edit</a></td>
    <td><a class="btn btn-danger" [routerLink]="['/category/delete',category.id]">Delete</a></td>
  </tr>
  </tbody>
</table>
